@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mainf";
  src: url("../assets/Satoshi-Black.ttf");
}

@font-face {
  font-family: "heading";
  src: url("../assets/Satoshi-Bold.ttf");
}

@font-face {
  font-family: "medium";
  src: url("../assets/Satoshi-Medium.ttf");
}

@font-face {
  font-family: "light";
  src: url("../assets/Satoshi-Regular.ttf");
}

.mainf {
  font-family: mainf;
}
.heading {
  font-family: heading;
}
.medium {
  font-family: medium;
}
.light {
  font-family: light;
}

body {
  /* background-color: #202022; */
}

.header-mobile {
  display: none;
}
.footer-mobile{
  display: none;
}

@media (max-width: 600px) {
  .header-mobile {
    display: flex;
  }
  .footer-mobile{
    display: flex;
  }
  .leftsidebar{
    display: none;
  }
  .arrow{
    transform: scale(0.6);
  }
}
